.popup {
    position:fixed;
    width: 30vw;
    z-index: 0;
}

.popup-inner {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.close-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 26px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    text-align: center;
}




